{% extends "body.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>Aplikasi Hadits85</h1>
    <p>
      Adalah aplikasi penampil hadits-hadits secara online juga fitur pencarian hadits. Untuk membantu semakin dekat pada Allah SWT melalui mengenal hadits.
    </p>
    <div class="card">
      <h5 class="card-header">Tips Belajar</h5>
      <div class="card-body">
        <p>
          Kunci belajar adalah ketika Anda <strong>istiqomah</strong> terhadap apa yang Anda inginkan.
        </p>
        <p>
          Adapun isyarat yang sudah diberikan oleh Al-Qur'an adalah (Materi bisa dilihat <a href="https://youtube.com/playlist?list=PLLteL_bdmD_Q6g_wd3qJYLYInDpVCnyAD">Hafal Al-Qur'an 30 JUZ 30 HARI</a>):
          <ol class="list-group list-group-numbered">
            <li class="list-group-item"><a href="https://youtu.be/MvnWPaksPAs">Niat Ikhlas</a></li>
            <li class="list-group-item"><a href="https://youtu.be/WMhsWzyIWlo">Serius</a></li>
            <li class="list-group-item"><a href="https://youtu.be/UzGk4ulsqG8">Sabar</a></li>
            <li class="list-group-item"><a href="https://youtu.be/Mmc4-10qTe0">Yakin</a></li>
            <li class=list-group-item><a href="https://youtu.be/gSV9G1ZE2n0">Motivasi</a></li>
            <li class="list-group-item"><a href="https://youtu.be/UV9Z8oVWMUY">Prioritas</a></li>
            <li class="list-group-item"><a href="https://youtu.be/J2lJ_kNiXrQ">Memilih guru dan istiqomah</a></li>
          </ol>
        </p>
      </div>
    </div>
    <p>
      Untuk repo aplikasi ini bisa dilihat <a href="{{repo}}">{{repo}}</a>.
    </p>
    <p>
      Semoga apa yang saya buat bisa bermanfaat 🥰. Link singkat aplikasi adalah <a href="https://bit.ly/hadits85">https://bit.ly/hadits85</a>.
    </p>
  </div>
</div>
{% endblock content %}