nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

#content {
  margin: 2cm 0;
}

p {
  text-indent: 5px;
}
#poster {
  position: relative;
  width: 100%;
  height: 250cm;
  margin: 10px 0;
}

#poster .img {
  position: absolute;
  background-position: 70% 50%;
  background-image: url("https://raw.githubusercontent.com/Ahlat85/data85/master/img/masjid.jpg");
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  filter: contrast(50%);
}

#poster .content {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2%;
  overflow: hidden;
}

.text-shadow {
  text-shadow: .5px .5px rgb(0,183,230);
}

#poster span, #poster p, #poster h2 {
  font-family: Trebuchet MS, sans-serif;
  color: white;
  font-weight: bold;
}

.arab {
  font-family: 'Amiri', serif;
  line-height: 200%;
}