<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title>{{title_page}}</title>

  <link rel="shortcut icon" href="https://raw.githubusercontent.com/Ahlat85/data85/master/img/masjid.ico">

  {% include "snippets/styles.html" %}
</head>
<body>
  {% include "snippets/nav.html" %}

  <div id="content" class="container .bg-light.bg-gradient">
    <div class="row">
      <div class="col-sm-12">
        {% include "snippets/messages.html" %}
      </div>
    </div>
    {% block content %}
    {% endblock content %}
  </div>

  {% include "snippets/footer.html" %}

  {% include "snippets/scripts.html" %}
</body>
</html>